fastapi==0.115.8
uvicorn[standard]==0.34.0
pydantic==2.10.6
pydantic-settings==2.7.1
python-dotenv==1.0.1
pymupdf==1.25.3
sentence-transformers==3.4.1
qdrant-client==1.13.2
rank-bm25==0.2.2
langchain==0.3.18
langchain-core==0.3.37
langchain-google-genai==2.0.11
langchain-groq==0.2.4
langgraph==0.2.74
motor==3.7.0
pymongo==4.11.1
certifi==2025.1.31
langfuse==2.59.3
httpx==0.28.1
numpy==2.2.3
tqdm==4.67.1
pytest==8.3.4
orjson==3.10.15
